.main {
  background-color: #f6f7fa;
  width: 100%; }
  .main-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px; }
    .main-header-row .hidden-menu .arrow-menu {
      display: block;
      margin: auto;
      position: absolute;
      width: 15px;
      height: 15px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      left: -20px;
      top: 0;
      bottom: 0;
      background-image: url(../images/arrow-menu.png); }
    .main-header-row .user-menu {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 210px; }
      .main-header-row .user-menu__photo {
        border-radius: 50%; }
      .main-header-row .user-menu__message-link, .main-header-row .user-menu__ring-link {
        position: relative; }
        .main-header-row .user-menu__message-link .new-add, .main-header-row .user-menu__ring-link .new-add {
          position: absolute;
          width: 15px;
          height: 15px;
          text-align: center;
          font-weight: 700;
          border-radius: 50%;
          background-color: #5584ff;
          top: -5px;
          right: -5px; }
  .main .user-btn {
    margin-right: 20px; }
  .main button {
    position: relative;
    background-color: inherit;
    border: none;
    cursor: pointer; }
    .main button .arrow {
      display: block;
      margin: auto;
      position: absolute;
      width: 15px;
      height: 15px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transform: rotate(-90deg);
      right: -20px;
      top: 0;
      bottom: 0;
      background-image: url(../images/arrow-menu.png); }
  .main .bg-white {
    background-color: #fff; }
  .main .user-menu__window {
    position: absolute;
    display: none; }
