* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.main-grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start; 
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

a { 
    text-decoration: none;
}

li {
    list-style: none;
}
.container {
    @include container
}