.menu {

    &__items {

    }

    &__item{
        position: relative;

        &::after {
            position: absolute;
            margin: auto;
            content: '';
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            left: 10px;
            top: 0;
            bottom: 0;
            
        }

        &:nth-child(1)::after{background-image: url(../images/1.png);}
        &:nth-child(2)::after{background-image: url(../images/2.png);}
        &:nth-child(3)::after{background-image: url(../images/3.png);}
        &:nth-child(4)::after{background-image: url(../images/4.png);}
        
    }
    &__link {
        position: relative;
        display: block;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px; 
        padding: 30px 55px;

    }

    &__link--active {
        background-color: #122143;
        position: relative;
        
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 5px;
            background-color: #5584ff;
        }
    }
}