.menu {

    &__link {
        display: block;
        padding: 30px 20px;
        padding-left: 80px;
        line-height: 2;
        color: #fff;
        font-family: 'Cuprum Bold';
        text-transform: uppercase;

        
    }

    &__link--active {
        background: linear-gradient(to top, #1e1d1e, #2b2b2d);
    }

    &__item {
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 0;
            left: 20px;
            top: 25%;
            bottom: 0;
            right: 0;
        }
        &:first-child::before{
            background-image: url(../images/Offers.png);
        }
        &:nth-child(2)::before{
            background-image: url(../images/haveItem.png);
        }
        &:nth-child(3)::before{
            background-image: url(../images/addItem.png);
        }
        &:nth-child(4)::before{
            background-image: url(../images/settingItem.png);
        }
    }
}