* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: calc(5px + 1vw);
    line-height: 2;
    font-family: 'Cuprum Bold';
}

a { 
    text-decoration: none;
}

li {
    list-style: none;
}
.container {
    @include container
}